body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh
}

#box-container {
    display: flex;
    border-color: black;
    border-style: solid;
    height: 700px;
    width: 700px;
    flex-shrink: 0;
    flex-wrap: wrap;

}

.box{
    border-color: black;
    border-style: solid;
    height: 37.75px;
    width: 37.75px;
}


