body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  gap: 30px;
}

#box-container {
  border-color: black;
  border-style: solid;
  flex-grow: 0;
  flex-shrink: 0;
}

.row {
  display: flex;
}

.column {
  box-sizing: border-box;
  border-color: black;
  border-width: 1px;
  border-style: solid;
  flex-grow: 0;
  flex-shrink: 0;
}

.hover-effect {
  background-color: rgb(0, 0, 0);
}

.rainbow-hover-effect {
    background-color: var(--hover-color);
}
